{% extends '::base.html.twig' %}
{% block title %}Edition d' adresse{% endblock %}
{% block body %}
        <div class="form-signin">
    <h1>Modification d'un groupe</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-warning" type="submit" value="Modifier" />
        {{ form_end(edit_form) }}
        </br>
        

        {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Supprimer">
        {{ form_end(delete_form) }}
        </br>
        <table class="table table-condensed table-striped table-hover">
                         <thead>Membres du groupe :
                <tr>
                    <th>Id</th>
                    
                   <th>Nom</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for membre in groupe.users %}
                    <tr>
                        <td>{{ membre.id }}</td>
                        <td>{{ membre.username }}</td>
                        <td>{% for adresse in membre.adresses %}{{ adresse.ville }}{% endfor %}</td>
                        <td>{% for adresse in membre.adresses %}{{ adresse.pays }}{% endfor %}</td>
                        <td>
                            <ul>

                                <a class="btn btn-primary btn-xs" href="{{ path('base_groupe_promouvoir', { 'id': groupe.idgroupe, 'membre': membre }) }}">Sortir du groupe</a>

                                <a class="btn btn-danger btn-xs" href="{{ path('base_groupe_virer', { 'id': groupe.idgroupe, 'membre': membre }) }}">Renvoyer du groupe</a>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
        


            <a class="btn btn-primary btn-xs" href="{{ path('base_groupe_index') }}">Retourner à la liste</a>
    
</div>
{% endblock %}
