{% extends '::base.html.twig' %}
{% block title %}Bienvenue !!! {% endblock %}
{% block header %}{% endblock %}
{% block content %}
    
Bienvenue sur l'accueil {% if app.user %}{{ app.user.username }}{% endif %} {#affiche l'user connecté#} !!!

{{ form_start(form, {'attr': {'class': 'search input-group'}, 'action': path('homepage'), 'method': 'POST' })  }}
{{ form_widget(form.search, {'attr': {'class': 'input-group'}} ) }}
<span class="input-group-btn">
{{ form_widget(form.envoi, {'attr': {'class': 'btn btn-warning'} , 'method': 'POST' }) }}
</span>
{{ form_end(form) }}
<a href="{{ path('base_message_newuser', {'iddest':6} ) }}">Nouveau message</a>
<a class="btn-primary" href="{{ path('extextcommentaire_new', {'idcommente':2} ) }}">Nouveau Commentaire exemplaire</a>
{% endblock %}
