{% extends 'base.html.twig' %}
{% block title %}Item{% endblock %}
{% block body %}
    <div class="tablecontainer">
        <h1>Item :</h1>
    <table class="table table-condensed table-striped table-hover">
        <tbody>
            <tr>
                <th>Id d'item</th>
                <td>{{ item.iditem }}</td>
            </tr>
            <tr>
                <th>Nom d'item</th>
                <td>{{ item.nomitem }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ item.description }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src="/uploads/item/{{ item.photoitem }}" /></td>
            </tr>
            <tr>
                <th>Valide ?</th>
                <td>{% if item.isvalide %}Oui{% else %}Non{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>

            {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer">
                        <a class="btn btn-warning" href="{{ path('item_edit', { 'id': item.iditem }) }}">Editer</a>
            {{ form_end(delete_form) }}
            </br>
            </br>
            <a class="btn btn-primary" href="{{ path('item_index') }}">Retourner à la liste</a>
    </ul>
{% endblock %}
