{% extends '::base.html.twig' %}
{% block title %}Evenement{% endblock %}
{% block body %}
    <div class="form-group2">
    <h1>Edition d'Evenement</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-warning" type="submit" value="Edit" />
        
    {{ form_end(edit_form) }}
    </br>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Supprimer l'évènement">
            {{ form_end(delete_form) }}
            </br>
            <a class="btn btn-primary btn-xs" href="{{ path('admin_evenement_index') }}">Retourner à la liste</a>
    </div>
{% endblock %}
