{% extends '::base.html.twig' %}

{% block body %}
    <div class="tablecontainer">
        <h1>Liste des adresses</h1>

        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Numéro de rue</th>
                    <th>Rue</th>
                    <th>Complement</th>
                    <th>Cp</th>
                    <th>Ville</th>
                    <th>Pays</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for adresse in adresses %}
                    <tr>
                        <td><a href="{{ path('adresse_show', { 'id': adresse.idadresse }) }}">{{ adresse.idadresse }}</a></td>
                        <td>{{ adresse.numrue }}</td>
                        <td>{{ adresse.textadresse }}</td>
                        <td>{{ adresse.complement }}</td>
                        <td>{{ adresse.cp }}</td>
                        <td>{{ adresse.ville }}</td>
                        <td>{{ adresse.pays }}</td>
                        <td>
                            <ul>

                                <a class="btn btn-primary btn-xs" href="{{ path('adresse_show', { 'id': adresse.idadresse }) }}">Voir</a>

                                <a class="btn btn-primary btn-xs" href="{{ path('adresse_edit', { 'id': adresse.idadresse }) }}">Modifier</a>

                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <ul>

            <a class="btn btn-warning" href="{{ path('adresse_new') }}">Nouvelle adresse</a>

        </ul>
    </div>
{% endblock %}
