{% block extends %}
{{ "{% extends 'base.html.twig' %}" }}
{% endblock extends %}

{% block body %}
{{ "{% block body %}" }}
    <h1>Nouvel {{ entity_singularized|capitalize }}</h1>

    {{ '{{ form_start(form) }}' }}
        {{ '{{ form_widget(form) }}' }}
        <input type="submit" value="Create" />
    {{ '{{ form_end(form) }}' }}
    {% if app.session.hasFlash('notice') %}
    <div class="alert alert-success">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ app.session.flash('notice') }}
    </div>
{% endif %}
{% if app.session.hasFlash('error') %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">×</a>
        {{ app.session.flash('error') }}
    </div>
{% endif %}

{% set hide_edit, hide_delete = true, true %}
{{ include('crud/views/others/record_actions.html.twig.twig') -}}
{{ "{% endblock %}" }}
{% endblock body %}
