{% extends '::base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Idcategorie</th>
                <th>Nomcategorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.idcategorie }) }}">{{ categorie.idcategorie }}</a></td>
                <td>{{ categorie.nomcategorie }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('categorie_show', { 'id': categorie.idcategorie }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('categorie_edit', { 'id': categorie.idcategorie }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorie_new') }}">Create a new categorie</a>
        </li>
    </ul>
{% endblock %}
