{% extends 'LambdaBundle:Search:resultats.html.twig' %}
{% block title %}Resultats{% endblock %}
{% block content %}
    <div class="tablecontainer">
        {% if liste_users==null %}
            <h2>Votre recherche n'a retourné <span class="red">aucun</span> résultat</h2>
         {% else %}
        <h1>Vos résultats de recherche parmi les utilisateurs :</h1>

        <table class="table table-condensed table-striped table-hover">
            <thead>
                <tr>
                    
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Genre</td>
                    <th>Membre depuis</th>
                   

                </tr>
            </thead>
            
            <tbody>
                {% for unitem in liste_users %}
                    
                    <tr>
                       
                        <td>{{ unitem.username }}</td>
                        <td>vide{#{{ unitem.ville }}#}</td>
                        <td>{{ unitem.genre ? 'Femme':'Homme' }}</td>
                        <td>{{ unitem.mdepuis|date('Y-m-d') }}</td>
                        
                        
                        <td>
                            <ul>

                                

                                {% if app.user.id == null %}Connectez-vous !{% else %}
                                    <a class="btn btn-primary btn-xs" href="{{ path('search', { 'id': unitem.id }, {'iduser': app.user.id}) }}">Voir le profil !!!</a>
                                {% endif %}
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    
{% endblock %}