{% extends '::base.html.twig' %}
{% block title %}Les categories{% endblock %}
{% block body %}
    <div class="tablecontainer">
    <h1>Liste des Catégories</h1>

    <table class="table table-condensed table-striped table-hover">
        <thead>
            <tr>
                <th>Id de categorie</th>
                <th>Nom de categorie</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td><a href="{{ path('categorie_show', { 'id': categorie.idcategorie }) }}">{{ categorie.idcategorie }}</a></td>
                <td>{{ categorie.nomcategorie }}</td>
                <td>
                    <ul>

                            <a class="btn btn-primary btn-xs" href="{{ path('categorie_show', { 'id': categorie.idcategorie }) }}">Voir</a>

                            <a class="btn btn-primary btn-xs" href="{{ path('categorie_edit', { 'id': categorie.idcategorie }) }}">Editer</a>

                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>

            <a class="btn btn-warning" href="{{ path('categorie_new') }}">Nouvelle categorie</a>

    </ul>
    </div>
            
{% endblock %}
